<ul>
  {% for member in include.data %}
    <li>
      <div class="member">
        {{ member.name | default: "No name" }}
        {% if member.spouse %}
          <div class="spouse"> &amp; {{ member.spouse }}</div>
        {% endif %}
      </div>
      {% if member.children and member.children.size > 0 %}
        <div class="children">
          {% include family_tree.html data=member.children %}
        </div>
      {% endif %}
    </li>
  {% else %}
    <li>No members found</li>
  {% endfor %}
</ul>
  