ul {
  list-style-type: none;
}

.member {
  font-weight: bold;
}

.spouse {
  font-style: italic;
}

.children {
  margin-left: 20px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";
